.app {
    background-color: black;
    height: 100vh;
    width: 100%;
}
* {
    padding: 0;
    margin: 0;
}
.app input {
    height: 25px;
    display: flex;
    flex-direction: column;
    margin: 12px auto;    
    text-align: center;
}
.app button {
    background-color: blue;
    padding: 25px 50px;
    color: white;
    font-size: 20px;
    margin: 20px;
    border-radius: 25px;
}
.app div {
    display: flex;
    flex-direction: column;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
}
.app p {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 20px;
}
.app h2 {
    color: white;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left:25%;
    height: 100px;
    width: 50%;
    border-radius: 0 0 30px 20px;
}